body.*
{
  margin: 0px;
  background-color: #000;
  color: #FFF;
}
.inline{
    float:left;
}
html, body {
    height : 100%;
}
.ui-controlgroup,fieldset.ui-controlgroup{
    margin:5px;
}
#wpbd_content{
    padding:0px;
}
#wpbd_test1{
    height:100%;
    overflow-y:scroll;
}
/*
table.testc1 td{
  font-family:monospace;
  font-weight:bold;
  background-color: #FFF;
  border:2px solid #FFF;
  border-radius:5px;
  color: #000;
  text-align:center;
}
table.testc1 td:hover{
  background-color: #000;
  color: #FFF;
}
test{
  background-image:url('http://www.google.com/trends/resources/2327917647-google-icon.png');

}
*/






