body.*
{
  margin: 0px;
  background-color: #000;
  color: #FFF;
}
html, body {
    height : 100%;
}
.ui-controlgroup,fieldset.ui-controlgroup{
    margin:5px;
}
#wpbd_content{
    padding:0px;
}
#wpbd_contenttable{
    height:100%;
    border-spacing:0px;
}
#wpbd_contenttable td{
    padding:0px;

}
#wpbd_membertables{
    /* TODO scroll or auto? */
}
#wpbd_membertable{
    border-collapse:collapse;
}
#wpbd_membertable td,th{
    float:center;
    padding:5px;
    border:1px solid black;
}
#wpbd_membertable tr.selected{
    background-color:#88F;
}
/*
table.testc1 td{
  font-family:monospace;
  font-weight:bold;
  background-color: #FFF;
  border:2px solid #FFF;
  border-radius:5px;
  color: #000;
  text-align:center;
}
table.testc1 td:hover{
  background-color: #000;
  color: #FFF;
}
test{
  background-image:url('http://www.google.com/trends/resources/2327917647-google-icon.png');

}
*/






