body.*
{
  margin: 0px;
  background-color: #000;
  color: #FFF;
}
html, body {
    height : 100%;
}
.ui-controlgroup,fieldset.ui-controlgroup{
    margin:5px;
}
#wpbd_content{
    padding:0px;
}
#wpbd_contenttable{
    height:100%;
    border-spacing:0px;
}
#wpbd_contenttable td{
    padding:0px;

}
#wpbd_membertable{
  width: 100%;
  height:100%;
  overflow-y:scroll;
}
#wpbd_membertable{
    border-collapse:collapse;
}
#wpbd_membertable td,th{
    float:center;
    padding:5px;
    border:1px solid black;
}
#wpbd_membertable tr.selected{
    background-color:#88F;
}
#wpbd_membertable td.compressionFail{
    background-color:#F22;
}
#wpbd_membertable td.tensionFail{
    background-color:#22F;
}
/*
table.testc1 td{
  font-family:monospace;
  font-weight:bold;
  background-color: #FFF;
  border:2px solid #FFF;
  border-radius:5px;
  color: #000;
  text-align:center;
}
table.testc1 td:hover{
  background-color: #000;
  color: #FFF;
}
test{
  background-image:url('http://www.google.com/trends/resources/2327917647-google-icon.png');

}
*/





.panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;

  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  width: 70%;
  min-height: 200px;
  min-width: 150px;
  white-space: nowrap;
  background: #838383;
  color: white;
}

.splitter {
  flex: 0 0 auto;
  overflow:hidden;
  width: 10px;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
  width: 30%;
  min-height: 200px;
  min-width: 200px;
  background: #eee;
}

.odometer.odometer-auto-theme, #wpbd_cost.odometer.odometer-theme-default {
  line-height:1.3em
}
